@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Rubik Burned', system-ui;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(137, 221, 34);
    color: black;
    font-size: 50px;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}


.menu ul {
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    font-family: 'Rubik Burned', system-ui;
    font-size: 25px;
    display: flex;
    justify-content: space-around; 
    padding: 0; 
    margin: 0; 
}

.menu li {
    flex-grow: 1; /* Allows each li to grow evenly */
    text-align: center; /* Center text inside li */
}

.menu li a {
    display: block; 
    color: white;
    padding: 14px;
    text-decoration: none;
    width: 100%; 
    height: 100%; 
}

.menu li a:hover {
    background-color: white;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(178, 51, 51);
    color: black;
    font-size: 30px; 
    font-family: 'Bebas Neue', sans-serif;
    padding: 30px 0;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

